.service-grid {
    background-color: beige;
    display: grid;
    gap: 1.25rem;
    grid-template-columns: 1fr;
    grid-template-areas:
        "one"
        "two"
        "three"
        "four"
        "five"
        "six"
        "eight"
        "nine";

    > :nth-child(1) {
        align-self: center;
        grid-area: one;
    }

    > :nth-child(2) {
        grid-area: two;
    }

    > :nth-child(3) {
        transform: translate(0px, 0px);
        grid-area: three;
    }

    > :nth-child(6) {
        transform: translate(0px, 0px);
        grid-area: six;
    }
}
