.service-grid {
    --yOffset: 110px;

    padding-bottom: var(--yOffset);
    display: grid;
    gap: 1.25rem;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-areas:
        "one two three"
        "one five six"
        "one seven eight";

    > :nth-child(1) {
        align-self: center;
        grid-area: one;
    }

    > :nth-child(2) {
        grid-area: two;
    }

    > :nth-child(3) {
        transform: translate(0px, var(--yOffset));
        grid-area: three;
    }

    > :nth-child(6) {
        transform: translate(0px, var(--yOffset));
        grid-area: six;
    }

    > :nth-child(7) {
        transform: translate(0px, var(--yOffset));
        grid-area: eight;
    }
}
