---
layout: main
title: dataholix sultions GmbH Blog archive
---

<!--====== Header -->
{% include header.html %}
<main>
    <section class="container section section__height" id="page_blog">
        <h2 class="section__title">Blog</h2>
        <div class="flex-line">
            <div></div>
        </div>
        {% assign posts=site.posts | where:"lang", page.lang | count: 1%} 
            {% for post in site.posts %}
        <div class="container-pageblog">
            
            {% if post.image_path != null and post.image_path != "" %}
              
            <div>
              <img
              src="{{post.image_path | prepend: site.baseurl}}"
              alt="Service icon {{post.sub_title}}"
              />
            </div>
            
            {% endif %}
            <div>
             
               <p class="small-text">{{ post.date | date: "%-d %B %Y" }}</p> 
               <p class="spacing-blog"><a href="">{{ post.short_title }} </a></p>
               <section> {{ post.content }}</section> 
            
              
            </div> 
          </div>
          <div class="blog-line">
            <div></div>
        </div>
          {% endfor %}
    </section>

</main>
<!--====== Section -->
<!--====== Section -->
<script src="{{ '/assets/scripts/main.js' | prepend: site.baseurl}}"></script>
<!-- <script type="module" src="{{ "/assets/scripts/particle/data.js" | prepend: site.baseurl}}"></script> -->