---
layout: main_blog
title: dataholix solutions GmbH Impressum
---

<!--====== Header -->
{% include header.html %}
<main>
    <section class="container section section__height" id="impressum">
        <h2 class="section__title">Impressum</h2>
        <div class="flex-line">
            <div></div>
        </div>
        {% include policy-and-impress.html %}
    </section>
</main>
<!--====== Section -->
<!--====== Section -->
<script src="{{ '/assets/scripts/main.js' | prepend: site.baseurl}}"></script>
<script src="{{ "/assets/scripts/policy-and-impress.js" | prepend: site.baseurl}}"></script>
