---
layout: main_blog
title: dataholix solutions GmbH Impressum
---

<!--====== Header -->
{% include header.html %}
<main>
    <section class="" id="policy-and-impress">
        <h2>Impressum</h2>
        <div class="container-policy-and-impress">
            <div>{% include impress.html %}</div>
        </div>
        <h2>Datenschutz</h2>
        <div class="container-policy-and-impress">
            <div>{% include policy.html %}</div>
        </div>
    </section>

    <script src="{{ '/assets/scripts/main.js' | prepend: site.baseurl}}"></script>
</main>
