---
layout: main
title: dataholix solutions GmbH
---

<!--====== Header -->
{% include header.html %}
<main>
    <!--=============== HOME ===============-->
    {% include home.html %}

    <!--=============== SKILLS ===============-->
    {% include skills.html %}

    <!--=============== PORTFOLIO ===============-->
    {% include portfolio_customer.html %}

    <!--=============== ABOUT ===============-->
    {% include about.html %}

    <!--=============== CONTACT ME ===============-->
    {% include contact-me.html %}

</main>
<!--====== Section -->
<!--====== Section -->
<script src="{{ "/assets/scripts/main.js" | prepend: site.baseurl}}"></script>
<script src="{{ "/assets/scripts/policy-and-impress.js" | prepend: site.baseurl}}"></script>
<!-- <script type="module" src="{{ "/assets/scripts/particle/data.js" | prepend: site.baseurl}}"></script> -->