---

---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--====== BoxIcons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- <script src="./assets/scripts/typetura.min.js"></script> -->
    <!--====== CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">

    <title>Dataholix Template</title>
</head>

<body>
    <!--====== Header -->
    {% include header.html %}
    <main>
        <!--=============== HOME ===============-->
        {% include home.html %}

        <!--=============== ABOUT ===============-->
        {% include about.html %}

        <!--=============== SKILLS ===============-->
        {% include skills.html %}

        <!--=============== PORTFOLIO ===============-->
        {% include portfolio.html %}

        <!--=============== CONTACT ME ===============-->
        {% include contact-me.html %}
    </main>
    <!--====== Section -->
    <!--====== Section -->
    <script src="assets/scripts/main.js"></script>
</body>

</html>
<!-- https://www.youtube.com/watch?v=DjaNof-HFyY -->