<section class="container section section__height" id="blog">
    <h2 class="section__title">Blog</h2>
    <div class="flex-line"><div></div></div>

    {% assign posts=site.posts | where:"lang", page.lang %}
    {% for post in site.posts %}
        <a href="{{ post.url | prepend: site.baseurl}}">{{ post.short_title }}</a>
        <div>
        <img class="bg-icon"
            width="200px"
            src="{{post.image_path | prepend: site.baseurl}}"
            alt="Service icon {{post.sub_title}}"
        />
        </div>
        {{ post.excerpt }}...
        <br>
    {% endfor %}

    <a href="blog.html">Ohne ende neue einträge MEHR</a>
</section>
