<header class="header" id="header">
    <nav class="nav container">
        <picture>
            <source srcset="./assets/images/navigation/data_holix_log_dark.svg" media="(prefers-color-scheme: dark)">
            <img src="./assets/images/navigation/data_holix_log_light.svg" alt="Dataholix Logo" class="nav__img">
        </picture>

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="#home" class="nav__link active-link">
                        <em class='bx bx-home-alt nav__icon'></em>
                        <span class="nav__name">Home</span>
                    </a>
                </li>

                <li class="nav__item">
                    <a href="#about" class="nav__link">
                        <em class='bx bx-user nav__icon'></em>
                        <span class="nav__name">About</span>
                    </a>
                </li>

                <li class="nav__item">
                    <a href="#skills" class="nav__link">
                        <em class='bx bx-book-alt nav__icon'></em>
                        <span class="nav__name">Skills</span>
                    </a>
                </li>

                <li class="nav__item">
                    <a href="#portfolio" class="nav__link">
                        <em class='bx bx-briefcase-alt nav__icon'></em>
                        <span class="nav__name">Portfolio</span>
                    </a>
                </li>

                <li class="nav__item">
                    <a href="#contactme" class="nav__link">
                        <em class='bx bx-message-square-detail nav__icon'></em>
                        <span class="nav__name">Contact Me</span>
                    </a>
                </li>
            </ul>
        </div>

        <a href="#" class="nav__logo">Dataholix</a>
    </nav>
</header>