<header class="header" id="header-static">
    <nav class="nav container">
        <picture>
            <source srcset="./assets/images/navigation/data_holix_log_dark-new.svg" media="(prefers-color-scheme: dark)">
            <img src="./assets/images/navigation/data_holix_log_light-new.svg" alt="Dataholix Logo" class="nav__img">
        </picture>

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="#home" class="nav__link">
                        <em class='bx bx-home-alt nav__icon'></em>
                        <span class="nav__name"><a href="{{"/" | prepend: site.baseurl}}">Home</a></span>
                    </a>
                </li>

                <li class="nav__item">
                    <a href="#skills" class="nav__link">
                        <em class='bx bx-book-alt nav__icon'></em>
                        <span class="nav__name">Unsere Services</span>
                    </a>
                </li>

                <li class="nav__item">
                    <a href="#blog" class="nav__link active-link">
                        <em class='bx bx-briefcase-alt nav__icon'></em>
                        <span class="nav__name">Blog</span>
                    </a>
                </li>

                <li class="nav__item">
                    <a href="#about" class="nav__link">
                        <em class='bx bx-user nav__icon'></em>
                        <span class="nav__name">Wer wir sind</span>
                    </a>
                </li>

                <li class="nav__item">
                    <a href="#contactme" class="nav__link">
                        <em class='bx bx-message-square-detail nav__icon'></em>
                        <span class="nav__name">Kontakt</span>
                    </a>
                </li>
            </ul>
        </div>

        <a href="#" class="nav__logo">Dataholix</a>
    </nav>
</header>
