
<section class="container section section__height" id="home">

    <section>
        <h1>Dein Digitalisierung's - Partner</h1>
        <br>
        <p>für Daten getriebene Lösungen.</p>
        <p>Profitiere von unserer xpertise</p>
        more
    </section>

    <section class="service-grid">

        <section class="simple-flex " >
            <header class="solo-title">
                Steigere Deinen Geschäftserfolg mit Hilfe Deiner Daten
            </header>
            <br>
            <p>
                Optimiere Deine Prozesse und die Systemlandschaft. Finde mit uns die passenden Lösungen für Deinen
                zukünftigen Erfolg.
            </p>
        </section>

        {% for service in site.data.home.de.services.items %}
            {% include elements-services/service.html item=service %}
        {% endfor %}

    </section>

    <section class="flex-container">
        {% include elements-services/nutzen.html %}
    </section>

    <section id="vertrauen">
        {% include elements-services/vertrauen.html %}
    </section>
</section>