<section id="home">
    <div class="imageContainer">
        <div class="imageCenterer">
        <video autoplay="" muted="" playsinline="" preload="metadata" id="vid" loop="true">
            <source src="{{"/assets/videos/1056171731-preview.mp4" | prepend: site.baseurl}}" type="video/mp4" />
            <!-- <track label="English" kind="captions" srclang="en" src="resources/myvideo-en.vtt" default> -->
            Sorry, your browser doesn't support embedded videos,
            but don't worry, you can <a href="{{"/assets/videos/1056171731-preview.mp4" | prepend: site.baseurl}}">download it</a>
            and watch it with your favorite video player!
        </video>
        </div>
    </div>

    <section>
        <h1>Dein Digitalisierungs - Partner</h1>
        <h1>
            für datengetriebene Lösungen
        </h1>
        <h2>
            Profitiere von unserer <span class="big-X">X</span>pertise.
        </h2>
        <div id="testId">
            <script type="text/plain" data-cookiecategory="analytics">
                document.getElementById('testId').innerText = "Analytics Ich erscheine nur wen ich zustimme!";
            </script>
        </div>
    </section>

</section>

<section class="content-icons" >
    <div class="prozent">
        <div class="div1">
            <input class="input-home" type="email" placeholder="eMail Adresse">
            <button>Schreib uns!</button>
        </div>
        <div class="div2">
            <div><span>350 </span>erfolgreiche</div>
            <div>IT Projekte</div>
        </div>
        <div class="div3">
            <div><span>56 </span>Jahre</div>
            <div> Expertise</div>
        </div>
        <div class="div4">
            <div><span>23% </span>reduzierte </div>
            <div> Kosten</div>
        </div>
    </div>

    <div>
        <div class="icons">
            <div class="div1"><img src="{{"/assets/images/svgs/cloud-orange.svg" | prepend: site.baseurl}}"></div>
            <div class="div2"><img src="{{"/assets/images/svgs/gemeinsam-orange.svg" | prepend: site.baseurl}}"></div>
            <div class="div3"><img src="{{"/assets/images/svgs/training-orange.svg" | prepend: site.baseurl}}"></div>
            <div class="div4"><img src="{{"/assets/images/svgs/up-orange.svg" | prepend: site.baseurl}}"></div>
            <div class="div5"><img src="{{"/assets/images/svgs/individual-software-development-orange.svg" | prepend: site.baseurl}}"></div>
            <div class="div6"><img src="{{"/assets/images/svgs/analyse-orange.svg" | prepend: site.baseurl}}"></div>
        </div>
    </div>
</section>

<section class="claim">
    <div class="text">Zukunftssicher und langfristig wachsen mit dataholix.</div>
    <div class="pillars">
       <h2>Genaue Entscheidungen treffen, Prozesse effizient gestalten, Kosten einsparen und damit die Wettbewerbsfähigkeit sichern. </h2> 
       <h2>Digitale Lösungen bringen einige Vorteile, sind aber auch eine große Herausforderung.</h2> 
       <h2>Mit unseren 3 Säulen der Beratung helfen wir ihnen, diese Herausforderung zu meistern und ihr Potenzial voll auszuschöpfen.</h2>
        <div class="container-pillars">
           

       <div>
        <h3>1. Analyse</h3></br>
        Als ersten Schritt betrachten wir ihre Prozesse und Daten im Unternehmen ganzheitlich. Dabei erkennen wir ungenutztes Potenzial und können schon mögliche Verbesserungsvorschläge liefern. Dies ist ein wichtiger Schritt zur digitalen Transformation ihres Unternehmens. Unsere Expertise und jahrelange Erfahrung hilft, Prozesse zu optimieren und Datenschätze zu erheben. Dies ist oft gekoppelt mit unserer zweiten Säule der technologischen Beratung.
    </div>
       <div><h3>2. Create</h3></br>
        Aufgrund der dynamischen Entwicklung gibt es eine Vielzahl an Technologien und Anbietern auf dem Markt. Deshalb finden wir mit ihnen die passende Technologie für ihre Strategie. Wir beraten sie objektiv und unabhängig zu möglichen Standardlösungen oder auf ihre Bedürfnisse angepasste Individuallösungen. Sie als Unternehmen stehen im Fokus unserer Beratung. Wir wollen sie bei ihrer Digitalisierung unterstützen und ihnen einen zukünftigen Wettbewerbsvorteil sichern.
    </div>
       <div><h3>3. Transform</h3></br>
         Wir stehen ihnen bei dieser Herausforderung beiseite und unterstützen beim Aufbau einer modernen und nachhaltigen IT-Architektur. Das ist unsere dritte Säule der technischen Beratung. Wir helfen bei der Planung moderner Softwarelösungen, die bis ins kleinste Detail ausgewählter Frameworks, wie Cloudlösungen und Microservice Architekturen reichen. Wir entwickeln diese mit unseren agilen Methoden und integrieren sie nahtlos in ihre vorhandene Systemlandschaft.
         Für einen reibungslosen Ablauf sorgt unsere Erfahrung von über 350 erfolgreich umgesetzten Projekten.
       </div>
      

    </div>
    <h2> Die dataholix ist ihr ganzheitlicher Systemberater für zukunftsorientierte und nachhaltige Lösungen.</h2>
    <h2> Wir begleiten sie kundennah und innovativ bei ihrer Transformation in ein digitales Unternehmen. </h2>
   

    </div>
</section>

 <!--{% for sauleItem in site.data.home.de.drei_saulen %}
            {% include elements-services/drei_sauelen.html item=sauleItem %}
        {% endfor %}-->