<section class="container section section__height" id="policy-and-impress">
<article>
    <section id="policy">Datenschutz</section>
    <section class="invisible">{% include policy.html %}</section>
</article>

<article>
    <section id="impress">Impressum</section>
    <section class="invisible">{% include impress.html %}</section>
</article>

</section>



<section class="container section section__height" id="policy-and-impress">
    <div class="container-policy-and-impress">
        <div id="policy">Datenschutz </div>
         <div id="impress">Impressum</div>
     </div>

    <div class="container-policy-and-impress">
        <div class="invisible">{% include policy.html %}</div>
        <div class="invisible">{% include impress.html %}</div>
    </div>
</section>
