<section class="container section section__height" id="skills">
    <h2 class="section__title"> Unsere Services</h2>
    <div class="flex-line"><div></div></div>

    <section class="section--title">
        Starte das neue Zeitalter ganzheitlicher digitaler Datenberatung.
        <p>Nutze  unsere <span class="big-X">X</span>pertise.</p>
    </section>
    
    {% for serviceItem in site.data.home.de.us_services_extend %}
        {% include elements-services/us_service_extend.html item=serviceItem %}
    {% endfor %}


</section>
