
<section>
    <p class="solo-title">Die dataholix solutions GmbH betrachtet Daten gesamtheitlich.</p>
    <p>Die Kombination unserer technischen Lösungen auf Basis erhobener und validierter Daten gibt Euch die Möglichkeit als Unternehmen, langfristig und zukunftssicher zu wachsen. </p>
    <p>Mit unserem "dmg" möchten wir Unternehmen dabei helfen zu verstehen, wo sich ihre Datenschätze im Unternehmen verbergen. <br> Deine Daten dienen als Gewinnmultiplikator.</p>
    <p>Unser dataholix mining graph zeigt die Menge an ungenutzten Daten und hilft dir strategische Entscheidungen für die Zukunft zu fällen.</p>
</section>

<div class="nutzen-container">
    <figure>
        <img src={{"/assets/images/services/wave.webp" | prepend: site.baseurl}} alt="wave">
    </figure>
    <div class="centered"> Nutze den data<span>holix</span> mining graph (dmg) für <br>  Dein verborgenes Datenpotential</div>
</div>

