<div class="container-skills">
    <div>
        <img class="bg-icon" src="{{include.item.image_path | prepend: site.baseurl}}"
            alt="Service icon {{include.item.alt}}" />
    </div>

    <div>
    <section class="spacing-p">
        <strong>{{include.item.title}}</strong>
    </section>

    {%- for textBlock in include.item.p -%}
        <section class="spacing-p">{{textBlock}}</section>
    {%- endfor -%}

    <h5>Unsere Services:</h5>

    {%- for service in include.item.services -%}
        <section># {{service}}</section>
    {%- endfor -%}

    </div>
</div>