<div class="container-skills">
    <div>
        <h1>{{include.item.title}}</h1>
        <p>
            {%- for textBlock in include.item.p -%} {{textBlock}} {%- endfor -%}
        </p>
    </div>
    <div>
        <div class="container-img">
            <img class="img-size" src={{include.item.image_path | prepend: site.baseurl}}>
        </div>
        <div class="container-text">
            {%- for service in include.item.services -%}
            <section># {{service}}</section>
            {%- endfor -%}
        </div>
    </div>
</div>
