/* ===== Variablen CSS */

@import "light_theme";
@import "dark_theme"; // Wenn Statische dark modus AN , dann im media query theme, den media query auskommentieren
/*
*/

/* ===== media Dark mode
@import "media-queries/theme-dark-light/main.scss";   // Wenn man es hier entfernt dann gibt es nur ein Theme, bei aktiveren des themes muß das "dark_theme" abgeschaltet werden.
*/




/* ===== Global */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}

body {
	background:  var(--body-color);
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


body {

    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--font-size-base);
    background-color: var(--body-color);
    color: var(--text-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a {
    color:var(--both-accent-color);
}
a:hover{
    text-decoration: underline;
}
.spacing{
    padding-bottom: 36px;
}

