/* ===== Variablen CSS */

:root {
    --header-height: 3rem;
    --desktop-break: 968px;
    /* ===== Farben */
    --hue: 36;
    --sat: 100%;
    --background-color: #fff;
    --both-background-color: #fff;
    --accent_hue: 0;
    --both-accent-color:  hsl(36, 100%, 48%);

    --first-color:     hsl(var(--hue), var(--sat), 48%);
    --first-color-alt: hsl(var(--hue), var(--sat), 36%);

    --title-color: hsl(var(--hue),  12%, 15%);
    --text-color:  hsl(var(--hue),   8%, 35%);
    --body-color:  hsl(var(--hue), 100%, 99%);

    --container-color: var(--background-color);
    --article-background: hsl(var(--accent_hue), 0%, 100%);


    /* ===== Font und Darstellungen */
    --body-font: 'Montserrat', sans-serif;
/*  */
    --h1-font-size: 3rem;
    --normal-font-size: .938rem;
    --tiny-font-size: .625rem;

    /* ===== z index */
    --t-tooltip: 10;
    --z-fixed: 100;
}


/* ===== Global */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}

body {
	background: linear-gradient(-45deg, #f5f3f1, var(--body-color),#eee, var(--body-color));
	background-size: 400% 1300%;
	animation: gradient 10s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


body {

    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}
a {
    color:var(--both-accent-color);
}
a:hover{
    text-decoration: underline;
}
.spacing{
    padding-bottom: 36px;
}

