
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__img {
    width: 200px
}

/* Überschreibt im global das da `a` */

.nav__list , .nav__link {
    display: flex;
}

.nav__list {
    justify-content: space-around;
}

.nav__link {
    flex-direction: column;
    align-items: center;
    row-gap: 4px;
    font-size:var(--font-size-base)
}

.nav__link:hover {
    color: var(--title-color);
    text-decoration: none;
}

.nav__name {
    font-size: var(--font-size-base);
    /* display: none;*/ /* Minimalist design, hidden labels */
}

.nav__icon {
    width:20px;
    filter: invert(45%) sepia(70%) saturate(1019%) hue-rotate(4deg) brightness(99%) contrast(90%);
}

.nav__icon:hover {
        cursor: pointer;
        filter: none;
}
.nav__icon:focus {
    filter: none;
}

.nav__icon-active {
    filter: none;
}
