
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__img {
    width: 200px
}



.nav__list , .nav__link {
    display: flex;
}

.nav__list {
    justify-content: space-around;
}

.nav__link {
    flex-direction: column;
    align-items: center;
    row-gap: 4px;
    font-weight: 600;
}

.nav__name {
    font-size: var(--tiny-font-size);
    /* display: none;*/ /* Minimalist design, hidden labels */
}

.nav__icon {
    width:20px;
}

.nav__icon:hover {
        cursor: pointer;
        filter: invert(45%) sepia(70%) saturate(1019%) hue-rotate(4deg) brightness(99%) contrast(90%);
}
.nav__icon:focus {
    filter: invert(45%) sepia(70%) saturate(1019%) hue-rotate(4deg) brightness(99%) contrast(90%);
}

.nav__icon-active {
    filter: invert(45%) sepia(70%) saturate(1019%) hue-rotate(4deg) brightness(99%) contrast(90%);
}
