.imageContainer {
    position: relative;
}

.imageCenterer {
    position: absolute;
    top:-100px;
    z-index:  -1;
    width: 100vw;           /* Verhindert das im mobile Seite das Bild oder video zu groß wird. */
    overflow: hidden;  /* Verhindert das im mobile Seite das Bild oder video zu groß wird. */
    -webkit-mask-image: linear-gradient(black, transparent);
    mask-image: linear-gradient(black, transparent);
    video {
        width: 100vw;
        display: block;
        margin: 0 auto;
    }

    
}


.fix-invisible {
    display: none;
}

/* ===== Wiederverwendbare CSS Klassen */
.section {
    padding: 4rem 0;
}

.section__no-out-space {
    padding: 0;
}

.section__title {
    color: var(--title-color);
    margin-top:calc(var(--header-height));
    margin-bottom: 0.875rem;
    padding-top: 4rem;
   
}

.section__height {
    min-height: auto;
}

.section__height-fix {
    height: 100vh;
}

.big-X {
    font-size: 4rem;
    color: var(--first-color);
}






.flex-line {
    display: flex;
    justify-content: center;
}
.flex-line > div {
    width: 60px;
    height: 5px;
    background-color: var(--text-color);
    margin-bottom: 1.5rem;
}

html{--font-size-sm: clamp(0.6rem, 0.34vw + 0.53rem, 0.94rem);
    --font-size-base: clamp(0.75rem, 0.5vw + 0.65rem, 1.25rem);
    --font-size-md: clamp(0.94rem, 0.73vw + 0.79rem, 1.67rem);
    --font-size-lg: clamp(1.17rem, 1.05vw + 0.96rem, 2.22rem);
    --font-size-xl: clamp(1.46rem, 1.5vw + 1.17rem, 2.96rem);
    --font-size-xxl: clamp(1.83rem, 2.12vw + 1.41rem, 3.95rem);
    --font-size-xxxl: clamp(2.29rem, 2.97vw + 1.69rem, 5.26rem);}


