.imageContainer {
    width: 10px;
    min-height: 30vw;
    overflow: visible;
    position: relative;
}

.imageCenterer {
    position: absolute;
    z-index:  -1;
    img, video {
        min-width: 100vw;
        display: block;
        margin: 0 auto;
    }
}



/* ===== Wiederverwendbare CSS Klassen */
.section {
    padding: 2rem 0 2rem;
}

.section__no-out-space {
    padding: 0;
}

.section__title {
    color: var(--title-color);

    text-align: center;
    margin-bottom: 0.875rem;
}

.section__height {
    min-height: auto;
}

.section__height-fix {
    height: 100vh;
}

.big-X {
    font-size: 2rem;
    color: var(--first-color);
}

.flex-line {
    display: flex;
    justify-content: center;
}
.flex-line > div {
    width: 60px;
    height: 5px;
    background-color: var(--text-color);
    margin-bottom: 1.5rem;
}
