/* ===== Template layout */


/* ===== Aktive anzeige im link */
.active-link {
    position: relative;
    color: var(--title-color);
    transition: .3s;
}

/* ===== Minimalist design, active link */
/* .active-link::before{
    content: '';
    position: absolute;
    bottom: -.5rem;
    width: 4px;
    height: 4px;
    background-color: var(--first-color);
    border-radius: 50%;
  } */


/* ===== Ändere  Hintergrund Header */
.scroll-header {
    box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
}

/* ===== Content */

