#home {

    section {
        h1 {
            color: var(--title-color);
            font-size: var(--h1-font-size);
        }
        p {
            color: var(--text-color);
        }
    }

    article {
        display: flex;
        flex-direction: column;
        gap: 12px;
        box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
        background-color: var(--article-background);
        border-radius: 1.25rem;
        padding: 15px;
        /* margin: 15px; */
        img {
            height: 48px;
            width: 48px;
        }

        header {
            color: var(--title-color);
            font-weight: 600;
            font-size: 0.7rem;
        }
    }

    /* ===== Content grid*/

    .solo-title {
        font-weight: 800;
        font-size: 1.3rem;
    }

    .flex-container {
        margin-top: 5rem;
        p {
            margin-top: 1rem;
        }

        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;

        :nth-child(1),
        :nth-child(2) {
            flex: 1;
        }

        .nutzen-container {
            img {
                object-fit: cover;
                width: 100%;
            }

            figure {
                height: 450px;
                overflow: hidden;
            }

            position: relative;
            text-align: center;

            .centered {
                text-shadow: 1px 1px 2px #ccc;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: var(--h2-font-size);
                color: var(--both-background-color);

                span {
                    text-shadow: 1px 1px 2px var(--both-accent-color);
                    color: var(--both-accent-color);
                }
            }
        }
    }

    #vertrauen {
        margin-top: 72px;
        .section--title {
            font-size: 2em;
            text-align: center;
            margin-bottom: 32px;
        }
        .vertrauen-container-grid {
            display: grid;
            column-gap: 1.25rem;
            grid-template-columns: auto auto auto auto;
            align-content: space-between;
            grid-template-areas:
                "head  head head  head"
                "one   four seven ten"
                "two   five eight eleven"
                "three six  nine  twelve";

            .title-color {
                font-size: 2rem;
                font-weight: 800;
                color: var(--first-color);
            }
            > :nth-child(1) {
                justify-self: center;
                grid-area: head;
            }
            > :nth-child(2) {
                justify-self: center;
                grid-area: one;
                text-align: center;
            }
            > :nth-child(3) {
                justify-self: center;
                grid-area: two;
                text-align: center;
            }
            > :nth-child(4) {
                justify-self: center;
                grid-area: three;
                text-align: center;
            }
            > :nth-child(5) {
                justify-self: center;
                grid-area: four;
                text-align: center;
            }
            > :nth-child(6) {
                justify-self: center;
                grid-area: five;
                text-align: center;
            }
            > :nth-child(7) {
                justify-self: center;
                grid-area: six;
                text-align: center;
            }
            > :nth-child(8) {
                justify-self: center;
                grid-area: seven;
                text-align: center;
            }
            > :nth-child(9) {
                justify-self: center;
                grid-area: eight;
                text-align: center;
            }
            > :nth-child(10) {
                justify-self: center;
                grid-area: nine;
                text-align: center;
            }
            > :nth-child(11) {
                justify-self: center;
                grid-area: ten;
                text-align: center;
            }
            > :nth-child(12) {
                grid-area: eleven;
                text-align: center;
            }
            > :nth-child(13) {
                justify-self: center;
                grid-area: twelve;
                text-align: center;
            }
        }
    }
}
