<div class="container-contact">
    <div>
        <p>dataholix solutions GmbH</p>
        <p>Radlkoferstraße 2</p>
        <p>81373 München</p>
        <p>eMail: <a href="mailto:info@dataholix.de"> info@dataholix.de</a></p>
        <p>Telefon: 049 170 000 000 00</p>
    </div>

    <div>
        <p>Folge uns</p>
        <div>

            <a href="https://www.xing.com/pages/dataholix-solutions-gmbh" target="_blank"><img class="follower"
                    src="/dataholix-www/assets/images/svgs/xing.svg" alt="Xing"></a>
            <a href="https://www.linkedin.com/company/86163687/" target="_blank"><img class="follower"
                    src="/dataholix-www/assets/images/svgs/linkedin.svg" alt="LinkedIn"></a>
            <a href="https://instagram.com/dataholix_solutions?igshid=YmMyMTA2M2Y=" target="_blank"><img
                    class="follower" src="/dataholix-www/assets/images/svgs/instagram.svg" alt="Instagram"></a>

        </div>
    </div>
</div>

<div class="container-contact">
    <div id="basic-map" class="map mapContainer"></div>
</div>