<div class="container-contact">
    <div>
        <p>dataholix solutions GmbH</p>
        <p>Radlkoferstraße 2</p>
        <p>81373 München</p>
        <p>eMail: <a href="mailto:info@dataholix.de"> info@dataholix.de</a></p>
        <p>Telefon: +49 (0)89 74 11 85 100</p>
        <p>
            <a href="https://goo.gl/maps/hqFmArja5YL7Dxk16" target="_blank"
                >Anfahrt</a
            >
        </p>
    </div>

    <div>
        <div class="social">
            <div class="div1">
                <a
                    href="https://www.xing.com/pages/dataholix-solutions-gmbh"
                    target="_blank"
                    ><img
                        class="follower"
                        src="{{"/assets/images/svgs/xing.svg" | prepend: site.baseurl}}"
                        alt="Xing"
                /></a>
            </div>
            <div class="div2"></div>
            <div class="div3"></div>
            <div class="div4"></div>
            <div class="div5"></div>
        </div>

        <div class="social">
            <div class="div1">
                <a
                    href="https://www.linkedin.com/company/86163687/"
                    target="_blank"
                    ><img
                        class="follower"
                        src="{{"/assets/images/svgs/linkedin.svg" | prepend: site.baseurl}}"
                        alt="LinkedIn"
                /></a>
            </div>
            <div class="div2"></div>
            <div class="div3"></div>
            <div class="div4"></div>
            <div class="div5"></div>
        </div>

        <div class="social">
            <div class="div1">
                <a
                    href="https://instagram.com/dataholix_solutions?igshid=YmMyMTA2M2Y="
                    target="_blank"
                    ><img
                        class="follower"
                        src="{{"/assets/images/svgs/instagram.svg" | prepend: site.baseurl}}"
                        alt="Instagram"
                /></a>
            </div>
            <div class="div2"></div>
            <div class="div3"></div>
            <div class="div4"></div>
            <div class="div5"></div>
        </div>
    </div>
</div>
