/* ===== media Dark mode */
@import "theme-dark-light/main.scss";

/* ===== Responsive Darstellungen */



@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {

    #home {
        section {
            padding: 1rem var(--font-size-base) var(--font-size-base) var(--font-size-base);

            h1 {
                font-size: var(--font-size-md)
            }

            h2 {
                padding: 1rem 0 0 1rem;
                font-size: var(--font-size-base)
            }
        }
    }

    .big-X {
        font-size: 2rem;
    }

    .content-input,
    .claim {
        padding: 1rem;
    }


    #about {
        padding: 1rem;

        .container-about {
            --margin: 1rem;
        }
    }

    .nav__img {
        width: 144px;
    }

    .prozent {
        .input-home {
            padding: 8px;
            width: 150px;
            font-size: var(--font-size-sm);
        }

        button {
            padding: 8px;
            width: 100px;
            font-size: var(--font-size-sm);
        }
    }

    .icons {
        display: none;
    }



    #skills {
        padding: var(--font-size-bse);

        .container-skills {
            --margin: var(--font-size-base);
        }

        .container-skills> :nth-child(1) {
            h1 {
                padding-top: var(--font-size-base);
            }

            p {
                padding-left: var(--font-size-base);
            }
        }

        .container-skills> :nth-child(2) {
            .container-img {
                img {
                    width: 40%;
                }
            }

            ;

            .container-text {
                margin-top: -var(--font-size-base);
                ;
                margin-left: var(--font-size-base);
                border-radius: var(--font-size-sm);
                padding: var(--font-size-base);
            }
        }
    }


    .social {
        grid-column-gap: 4px;
        grid-row-gap: 4px;
        .div2,
        .div3,
        .div4,
        .div5 {
        width: 120px;
            height:90px;
        }

    }
    #contactme {

        .container-contact > :nth-child(1) {
                min-width: calc(40% - (var(--margin) * 2));
            }
        
            .container-contact > :nth-child(2) {
                min-width: calc(60% - (var(--margin) * 2));
                
            }
        }

}



@media screen and (max-width: 900px) {

    .nav__menu {
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: var(--container-color);
        box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
        width: 100%;
        height: 4rem;
        padding: 0 1rem;
        display: grid;
        align-content: center;
        border-radius: 1.25rem 1.25rem 0 0;
        transition: .4s;
    }
    .icons {
        display: none;
    }

    #contactme {

    .container-contact > :nth-child(1) {
            min-width: calc(40% - (var(--margin) * 2));
        }
        .container-contact > :nth-child(2) {
            min-width: calc(60% - (var(--margin) * 2));

        }
    }
}

@media screen and (min-width: 900px) {

    .nav__icon {
        display: none;
    }

    .nav__name {
        font-size: var(--normal-font-size);
        /* display: block; */
        /* Minimalist design, visible labels */
    }

    .nav__link:hover {
        color: var(--first-color);
        text-decoration: none;
    }

    /* First design, remove if you choose the minimalist design */
    .active-link::before {
        content: '';
        position: absolute;
        bottom: -.75rem;
        width: 5px;
        height: 5px;
        background-color: var(--first-color);
        border-radius: 50%;
    }

    /* Minimalist design */
    /* .active-link::before{
        bottom: -.75rem;
    } */
    .nav__list {
        justify-content: center;
        column-gap: 3rem;
    }

    /* body {
        background-color: burlywood;
    } */

}