/* ===== Responsive Darstellungen */



@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {

    #home {

      
        section {
            padding: 1rem var(--font-size-base) var(--font-size-base) var(--font-size-base);

            h1 {
                font-size: var(--font-size-md)
            }

            h2 {
                padding: 1rem 0 0 1rem;
                font-size: var(--font-size-base)
            }
        }
        
    }

    .big-X {
        font-size: 2rem;
    }

    .content-input,
    .claim {
        padding: 1rem;
    }


    #about {
        padding: var(--font-size-sm);

        
        img {
            width: 100%;
           
        }

        .container-about {
            --margin: var(--font-size-sm);
        }
    }

    .nav__img {
        width: 144px;
    }

    .prozent {
        .input-home {
            padding: 8px;
            width: 150px;
            font-size: var(--font-size-sm);
        }

        button {
            padding: 8px;
            width: 100px;
            font-size: var(--font-size-sm);
        }
    }

    .icons {
        display: none;
    }



    #skills {
        padding: var(--font-size-bse);

        .container-skills {
            --margin: var(--font-size-base);
        }

        .container-skills> :nth-child(1) {
            h1 {
                padding-top: var(--font-size-base);
            }

            p {
                padding-left: var(--font-size-base);
            }
        }

        .container-skills> :nth-child(2) {
            .container-img {
                img {
                    width: 40%;
                }
            }

            ;

            .container-text {
                margin-top: -var(--font-size-base);
                ;
                margin-left: var(--font-size-base);
                border-radius: var(--font-size-sm);
                padding: var(--font-size-base);
            }
        }
    }


    .social {
        grid-column-gap: 4px;
        grid-row-gap: 4px;
        .div2,
        .div3,
        .div4,
        .div5 {
        width: 120px;
            height:90px;
        }

    }
    #contactme {

        .container-contact > :nth-child(1) {
                min-width: calc(40% - (var(--margin) * 2));
            }
            .container-contact > :nth-child(2) {
                min-width: calc(60% - (var(--margin) * 2));
            }
        }

        #page_blog {
            background: rgb(0, 0, 0);
            background: linear-gradient(129deg, rgba(0, 0, 0, 1) 1%, rgba(5, 53, 78, 1) 31%, rgba(0, 0, 0, 1) 100%);
            padding: 0 var(--font-size-sm);
        
           .section__title{
            padding: var(--font-size-sm);
        
           }
        
        .container-pageblog {
            --margin: var(--font-size-sm);
          
        }
        
        .artikel {
            display: grid;
            grid-template-columns: 80px auto auto auto;
            
            .div6 {
                grid-area: 3 / 1 / 4 / 5;
                margin-left: 0;
            }
        
            .div7 {
                grid-area: 4 / 1 / 5 / 2;
                margin-left: 0;
            }
           
        }
        
        }
        
        .button-read-more {
            padding: 4px;
            margin-top: var(--font-size-base);
            margin-bottom: var(--font-size-xl);
            width: 110px;
            line-height: 18px;
            img {
                margin-left: var(--font-size-base);
                height:18px
        
            }
        
        }
        
        #page-post{  
            padding: 0 var(--font-size-sm);
  
        .container-newblog> :nth-child(1) {
            min-width: calc(100% - (var(--margin) * 2));
        
            .img {
                margin-right: var(--font-size-base);
        
                img {
                    width: 40%;
                    height: 40%;
                   
                }
            }
        }
        
        .button-rss {
            
          
        
            width:120px;
            margin-top: var(--font-size-base);
        
            display: flex;
            align-content: center;
        
            img {
                margin-left: var(--font-size-base);
                
        
            }
        }
    }
        

}





@media screen and (max-width: 900px) {

    #home {


        section {
            
            padding: 4rem var(--font-size-base) var(--font-size-base) var(--font-size-base);
    
            h1 {
               
                font-size: var(--font-size-xl);
                
            }
    
            h2 {
                padding: 4rem 0 0 4rem;
               
                font-size: var(--font-size-lg);
                
                margin-bottom: var(--font-size-xxxl);
            }
    
           
        }
    }

    .big-X {
        font-size: 2rem;
    }

    .claim {
        padding: 2rem;
        .text {
            font-size: var(--font-size-lg);
            background: -webkit-linear-gradient(to right, rgba(26, 110, 153, 0.855), #000);
            background: linear-gradient(to right, rgba(25, 112, 155, 0.855), #000);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            margin-bottom: var(--font-size-xl);
           
        }
       
    }
    
    
    .pillars {
       
        border-radius: var(--font-size-base);
        padding: var(--font-size-base);
       .container-pillars>* {
            flex-grow: 1;
            flex-basis: calc(var(--multiplier) * 999);
           
            border-radius: 1rem;
            color: white !important;}
    
      
    
        .container-pillars> :nth-child(1),
        .container-pillars> :nth-child(2),
        .container-pillars> :nth-child(3) {
            min-width: calc(100% - (var(--margin) * 2));
            text-align: left;
            padding: 1rem ;
           
        }
    
    }

    .nav__menu {
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: var(--container-color);
        box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
        width: 100%;
        height: 4rem;
        padding: 0 1rem;
        display: grid;
        align-content: center;
        border-radius: 1.25rem 1.25rem 0 0;
        transition: .4s;
    }
    .icons {
        display: none;
    }

    #contactme {

    .container-contact > :nth-child(1) {
            min-width: calc(40% - (var(--margin) * 2));
        }
        .container-contact > :nth-child(2) {
            min-width: calc(60% - (var(--margin) * 2));

        }
    }
}

.nav__link:hover {
    color: var(--title-color);
    text-decoration: none;
}
@media screen and (min-width: 900px) {

    .nav__icon {
        display: none;
    }



    /* First design, remove if you choose the minimalist design */
    .active-link::before {
        content: '';
        position: absolute;
        bottom: -.75rem;
        width: 5px;
        height: 5px;
        background-color: var(--title-color);
        border-radius: 50%;
    }

    /* Minimalist design */
    /* .active-link::before{
        bottom: -.75rem;
    } */
    .nav__list {
        justify-content: center;
        column-gap: 3rem;
    }

    /* body {
        background-color: burlywood;
    } */

}