<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--====== BoxIcons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- <script src="./assets/scripts/typetura.min.js"></script> -->
    <!--====== CSS -->
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/bundles/consents/cookie-consent.css" | prepend: site.baseurl}}" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="{{ "/assets/bundles/openstreet/ol.css" | prepend: site.baseurl}}">

    <title>{{page.title}}</title>
</head>

<body>
    <div class="imageContainer">
        <div class="imageCenterer">
        <video autoplay="" muted="" playsinline="" preload="metadata" id="vid" loop="true">
            <source src="{{"/assets/videos/1056171731-preview.mp4" | prepend: site.baseurl}}" type="video/mp4" />
            <track label="English" kind="captions" srclang="en" src="resources/myvideo-en.vtt" default>
            Sorry, your browser doesn't support embedded videos,
            but don't worry, you can <a href="{{"/assets/videos/1056171731-preview.mp4" | prepend: site.baseurl}}">download it</a>
            and watch it with your favorite video player!
        </video>
        </div>
    </div>

    {{ content }}
    <script src="{{"/assets/bundles/consents/cookie-consent.js" | prepend: site.baseurl}}" defer></script>
    <script src="{{"/assets/bundles/consents/cookie-consent-init.js" | prepend: site.baseurl}}" defer></script>
    <script src="{{"/assets/bundles/openstreet/ol.js" | prepend: site.baseurl}}" ></script>
    <script src="{{"/assets/bundles/openstreet/init.js" | prepend: site.baseurl}}"></script>
</body>
</html>
