---
layout: main_blog
---

<!--====== Header -->
{%- include header.html -%}

<section id="page_blog">
    <div class="headline">
        <div>
            <h2><a href="{{"/blogs.html" | prepend: site.baseurl}}">Alle Blog Posts</a></h2>
        </div>

        <div>
            {% if page.previous %} Nächster Blog:
            <a href="{{page.previous.url | prepend: site.baseurl}}">
                {{page.previous.title}}</a>
            {% endif %}
        </div>
        <div>
            {% if page.next %} Voriger Blog:
                <a href="{{page.next.url | prepend: site.baseurl}}">
                    {{page.next.title}}
                </a>
            {% endif %}
        </div>
    </div>

    <div class="container-newblog">
        <div>
            <div>Technische Artikel</div>
            <div class="img">
                <img src="{{page.author_pic_path | prepend: site.baseurl}}" alt="Profile Bild von {{page.author_name}}">
            </div>
            <div class="button-rss"> RSS Feed
                <img src="{{"/assets/images/svgs/rss.svg" | prepend: site.baseurl}}" alt="alt text"/>
            </div>
        </div>

        <div>
            {{ page.date | date: "%-d %B %Y" }}
            <h2>{{page.title}}</h2>
            
            <div>
                {% if page.image_path != null and page.image_path != "" %}
                    <img src="{{page.image_path | prepend: site.baseurl}}" alt="Service icon {{page.sub_title}}" />
                    </br>
                    <em>{{page.quellenAngabe}}</em>
                {% endif %}
            </div>

            <div class="content">{{ content}}</div>
        </div>
    </div>

</section>

<script src="{{ '/assets/scripts/main.js' | prepend: site.baseurl}}"></script>
