---
layout: main_blog
---

<!--====== Header -->
{%- include header-static.html -%}

<main>
    <section class="container section section__height" id="page_blog">
        <div class="back">
            <a href="blogs.html">&#10094; Blog Übersicht</a>
        </div>
        {% if page.image_path != null and page.image_path != "" %}

        <p>{{ page.date | date: "%-d %B %Y" }}</p>
        <h2>{{page.title}}</h2>
        <br />
        <div>
            <img
                src="{{page.image_path | prepend: site.baseurl}}"
                alt="Service icon {{page.sub_title}}"
            />
            {{page.quellenAngabe}}
        </div>
        {% endif %}

        <p>{{ content}}</p>
        <br />

        {% if page.previous %} Nächster Blog:
        <a href="{{page.previous.url | prepend: site.baseurl}}">
            {{page.previous.title}}</a
        >
        {% endif %} {% if page.next %} Zurück zum Blog:
        <a href="{{page.next.url | prepend: site.baseurl}}"
            >{{page.next.title}}</a
        >
        {% endif %}
    </section>
</main>
